
*{
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

#about-us {
  border: 4px solid red;
  text-align: center;
  background-color: #bde2ff;



}

#about-us img{
max-width: 90% ;


}

#team-members {
  border: 4px solid blue;
  text-align: center;
  background-color: #caccff;


}

#team-members article{
  width: 100%;
  display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

.member {
  border: 4px solid green;
width: 40% ;

text-align: center;
margin-bottom: 5% ;

}

.member img {
  width : 100%;
  max-width: 300px;
}

nav ul {
display:flex ;
justify-content: space-around;

}

.navbar__li  {
  display: inline;
  color : red;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

nav {
  background-color: #baace8 ;
}

#contact {
  background-color: #00819e;
  color: #E5E7E9;
}
