
*{
  box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}

h1 {
  font-size: 4rem;
  margin-top: 0;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}


body {
  margin: 0;

}

section {
  padding-top: 3rem;
  min-height: 100vh;

}

#about-us {
  border: none;
  text-align: center;
  background-color: #00819e;
  color: #ffffff;
}


#about-us article {
  padding-top: 3rem;
}

#about-us img{
max-width: 90% ;
}

#team-members {
  border: none;
  text-align: center;
  background-color: #ffffff;


}

#team-members article{
  width: 100%;
  display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

.member {
  border: none;
width: 40% ;

text-align: center;
margin-bottom: 5% ;

}

.member img {
  width : 100%;
  max-width: 300px;
  border-radius: 5em;
}

nav {
  position: fixed;
  width: 100%;
  color: #ffffff;
  background-color: #000000;
  padding: 0;
  margin: 0;
}

nav ul {
display: flex ;
justify-content: space-around;
padding: 0;
margin: 0;

}

.navbar__li  {
  display: inline;
  color : red;
    list-style-type: none;
    margin: 0;
    padding: 1rem;
}

.navbar__li a {
    margin: inherit;
    padding: inherit;
}

.navbar__li a:link  {
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
}

.navbar__li a:visited   {
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
}

.navbar__li a:hover  {
  text-decoration: none;
  background-color: #00819e;
}

.navbar__li a:active   {
  text-decoration: none;
  background-color: #00c1de;
}




#contact {
  background-color: #00819e;
  color: #E5E7E9;
}
